  <% include ../partials/head %>


  <script>
function submitGenre() {
  var genreInputs = document.getElementsByClassName("genreInput");
  var genreString = "";
  var i;
  for(i = 0; i < genreInputs.length; i++)
  {
    if(genreInputs[i].checked == true)
    {
      genreString += genreInputs[i].getAttribute("name") + ",";
    }
  }
  $.post("/user/<%= user.name %>/genres/set", {genres:genreString}).done(function(data){
        window.location = "/user/<%= user.name %>/movies";
  });

 return false;
}
  </script>



<div id="question" class="flexItem"> Welcome <% if(!newUser){%>back <% } %><%= user.name %>, what genres do you like? </div>

<br>

<form id="genreForm" onsubmit="return submitGenre()" target="_self">
  <div class="checkboxContainer">
    <% for(var i=0; i < genres.length; i++) { %>
    <input type="checkbox" <% if (genres[i].checked){%>checked<% } %> autocomplete="off"  id="<%= genres[i].genre %>" class="genreInput flexItem" name="<%= genres[i].genre %>">
    <label class = "genreBtn flexItem" for="<%= genres[i].genre %>" >
       <%= genres[i].genre %>
     </label>

    <% }%>
  </div>
    <input type="submit" value="Continue" id="enterBtn" class ="flexItem">
  </form>

