  <% include ../partials/head %>


  <script>
function submitGenre() {
  var genreInputs = document.getElementsByClassName("genreInput");
  var genreString = "";
  var i;
  for(i = 0; i < genreInputs.length; i++)
  {
    if(genreInputs[i].checked == true)
    {
      genreString += genreInputs[i].getAttribute("name") + ", ";
    }
  }
 console.log(genreString);

 return false;
}
  </script>



<div id="question" class="flexItem"> Welcome <%= user.name %>, what genres do you like? </div>

<br>

<form id="genreForm" onsubmit="return submitGenre()" target="_self">
  <div class="checkboxContainer">
    <% for(var i=0; i < genres.length; i++) { %>

    <input type="checkbox" autocomplete="off"  id="<%= genres[i] %>" class="genreInput flexItem" name="<%= genres[i] %>">
    <label class = "genreBtn flexItem" for="<%= genres[i] %>" >
       <%= genres[i] %>
     </label>

    <% }%>
  </div>
    <input type="submit" value="Continue" id="enterBtn" class ="flexItem">
  </form>

