<% include ../partials/head %>


<div id="question" class="flexItem"> Ok <%= user.name %>, we think you might like these TV shows...</div>
<div class="hMenu flexItem">
    <a href="/" id="changeGenres" class="option flexItem">change user</a>&nbsp;-
    <a href="/user/<%= user.name %>/genres" id="changeGenres" class="option flexItem">change genres</a>&nbsp;-
    <a href="/user/<%= user.name %>/movies" id="changeGenres" class="option flexItem">change shows</a>
</div>

<div id="movieList" class="flexItem">
    <% for(var i=0; i < movieList.length; i++) { %>
    <div class="movie flexItem">

        <a class="flexItem" href="http://www.imdb.com/title/<%= movieList[i].imdbID %>">
        <label class = "moviebtn full flexItem" for="<%= movieList[i].Title %>" >
            <img class="poster" src="<%= movieList[i].Poster %>"></img>
            <div class="title"><%= movieList[i].Title %></div>
        </label>
            </a>

    </div>
    <% }%>
</div>